body {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#calculator {
  background: #000000;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
}

#display {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: #585a5cb0;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: #495057;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  background: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  height: 60px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #0056b3;
}

button.special {
  background: #6c757d;
}

button.special:hover {
  background: #5a6268;
}

button.equal {
  background: #28a745;
}

button.equal:hover {
  background: #218838;
}